
body{
    margin: 0;
    background-color: #f8f9fa;
}
.container{
    text-align: center;
}
.tahta{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3,100px);
    justify-content: center;
    gap: 5px;
    margin: 20px auto;
}
.hucre{
    background-color: white;
    border: 2px solid #333;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:#333;
}
#sifirlaBtn{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0,0,0.1);
}
#sifirlaBtn:hover{
    background-color: #555;
    color: white;
    
}
#durum{
    margin-bottom: 10px;
    color: #333;
}